@model UserEditVM
@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="User" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Update</li>
        </ol>
    </nav>
</div>

<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Edit an Account</h5>
            <p class="text-center small">Edit your personal details</p>
        </div>

        @if (!string.IsNullOrEmpty(ViewBag.Result))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div asp-validation-summary="All"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form class="row g-3" asp-controller="AuthenticationUser" asp-action="UserEdit" method="post" enctype="multipart/form-data">
            
            <div class="col-12">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" type="text" class="form-control">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" type="text" class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="NewPassword" class="form-label">NewPassword</label>
                <input asp-for="NewPassword" type="password" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                <input asp-for="ConfirmNewPassword" type="text" class="form-control">
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Photo" type="file" accept="image/*" class="form-control" placeholder="Photo">
                    <label asp-for="Photo">Photo</label>
                    <span asp-validation-for="Photo" class="text-danger"></span> 
                </div>
            </div>


            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Save changes</button>
            </div>
            
        </form>

    </div>
</div>
