@model ContactAddVM
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Contact" asp-action="GetContactList">Contacts</a></li>
        <li class="breadcrumb-item active">Add Contact</li>
    </ol>
</nav>


<div class="card">
    <div class="card-body mt-3">

        <!-- Floating Labels Form -->
        <form asp-area="Admin" asp-controller="Contact" asp-action="AddContact" class="row g-3" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Location" type="text" class="form-control" placeholder="Location">
                    <label asp-for="Location">Location</label>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Map" type="text" class="form-control" placeholder="Map">
                    <label asp-for="Map">Map</label>
                    <span asp-validation-for="Map" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Call" type="tel" class="form-control" placeholder="Phone Number">
                    <label asp-for="Call">Phone Number</label>
                    <span asp-validation-for="Call" class="text-danger"></span>
                </div>
            </div>
            

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>

        </form><!-- End floating Labels Form -->

    </div>
</div>
