@model TeamAddVM
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Team" asp-action="GetTeamList">Teams</a></li>
        <li class="breadcrumb-item active">Add Team</li>
    </ol>
</nav>


<div class="card">
    <div class="card-body mt-3">

        <!-- Floating Labels Form -->
        <form asp-area="Admin" asp-controller="Team" asp-action="AddTeam" class="row g-3" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FileName" value="test" /> @* Delete this later when add photo functionallity *@
            <input type="hidden" asp-for="FileType" value="test" /> @* Delete this later when add photo functionallity *@

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="FullName" type="text" class="form-control" placeholder="Full Name">
                    <label asp-for="FullName">Full Name</label>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                    <label asp-for="Title">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <!-- Social Media -->

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Twitter" type="text" class="form-control" placeholder="Twitter">
                    <label asp-for="Twitter">Twitter</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Linkedin" type="text" class="form-control" placeholder="LinkedIn">
                    <label asp-for="Linkedin">Linked In</label>
                    <span asp-validation-for="Linkedin" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Facebook" type="text" class="form-control" placeholder="Facebook">
                    <label asp-for="Facebook">Facebook</label>
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Instagram" type="text" class="form-control" placeholder="Instagram">
                    <label asp-for="Instagram">Instagram</label>
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
            </div>

            <!-- Photo -->
            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Photo" type="file" accept="image/*" class="form-control" placeholder="Photo">
                    <label asp-for="Photo">Photo</label>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>

        </form><!-- End floating Labels Form -->

    </div>
</div>


